@import './variables.scss';

.canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
    canvas{
        margin: 0 auto;
        border: 1px solid black;
        background-color: white;
    }
}